body, html {
	margin: 0;
	padding: 0;
}

body {
	font-family: encode_sans_widelight, sans-serif;
	color: #303030;
}

body.modal-visible {
	overflow: hidden;
}

/* Typography */

a {
	color: #1597b0;
	text-decoration: none;
	-webkit-transition: color 200ms ease-in-out;
	-moz-transition: color 200ms ease-in-out;
	-ms-transition: color 200ms ease-in-out;
	transition: color 200ms ease-in-out;
}

strong {
	font-weight: normal;
	font-family: encode_sans_widesemibold, sans-serif;
}

a:hover {
	color: #303030;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

p {
	line-height: 2em;
}

.section-header {
	font-family: nexa_rust_sansblack, sans-serif;
	margin-top: 1.5em;
}

/* Layout */

.wrap {
	margin: 0 auto;
	max-width: 940px;
	padding: 0 20px;
	overflow: auto;
}

.column-half {
	width: 48%;
	margin-right: 4%;
	float: left;
}

.column-last {
	margin-right: 0;
}

#tickets button {
	display: inline-block;
	padding: 0.5em 1em 0.6em 1em;
	border: 1px solid #fff;
	color: #fff;
	font-family: encode_sans_widelight, sans-serif;
	text-transform: uppercase;
	font-size: 0.9em;
	background: transparent;
	box-shadow: 0px 1px 0px rgba(0,0,0,0.25), inset 0px 1px 0px rgba(0,0,0,0.25);
	letter-spacing: 0.1em;
	text-shadow 0px 1px 0px rgba(0,0,0,0.25);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	margin-left: 1em;
}

#tickets button:hover {
	background-color: #fff;
	color: #333;
	box-shadow: none;
	text-shadow: none;
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

/* Section-specific styles */

#navi {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #fff;
	height: 3em;
	font-family: encode_sans_widesemibold, sans-serif;
	line-height: 3em;
	text-align: right;
	text-transform: uppercase;
	box-shadow: 0px 2px 0px rgba(0,0,0,0.1);
	z-index: 2;
}

#navi a {
	margin-left: 2em;
	font-size: 0.9em;
}

#navi .navi-logo {
	float: left;
	margin-left: 0;
	height: 20px;
	padding-top: 12px;
}

#header-image {
	position: absolute;
	top: 0em;
	left: 0;
	z-index: -1;
	height: 120%;
	width: 100%;
	background: #000 url('../img/header-bg-v2.jpg') no-repeat center center;
	background-size: cover;
	opacity: 0;
	-webkit-transition: opacity 1000ms ease-in-out;
	-moz-transition: opacity 1000ms ease-in-out;
	-ms-transition: opacity 1000ms ease-in-out;
	transition: opacity 1000ms ease-in-out;
}

body.loaded #header-image {
	opacity: 1;
}

.header-section {
	overflow: hidden;
	color: #fff;
	margin-top: 3em;
	text-shadow: 0px 0.1em 0px rgba(0,0,0,0.25);
	position: relative;
	background: #000;
	z-index: 0;
}

.header-section h1 {
	margin-top: 2em;
	text-align: center;
	margin-bottom: 0;
	text-transform: uppercase;
	font-size: 4em;
	font-family: nexa_rust_sansblack;
	font-weight: normal;
	letter-spacing: 0.1em;
	z-index: 2;
	opacity: 0;
	-webkit-transform: translate3d(-2%,0,0);
	-moz-transform: translate3d(-2%,0,0);
	-ms-transform: translate3d(-2%,0,0);
	transform: translate3d(-2%,0,0);
	transition: all 500ms ease-out;
}

body.loaded .header-section h1 {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.header-section h2 {
	margin-top: 0;
	margin-bottom: 4.5em;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.5em;
	font-weight: normal;
	letter-spacing: 0.05em;
	z-index: 2;
	opacity: 0;
	-webkit-transform: translate3d(2%,0,0);
	-moz-transform: translate3d(2%,0,0);
	-ms-transform: translate3d(2%,0,0);
	transform: translate3d(2%,0,0);
	transition: all 500ms ease-out;
}

body.loaded .header-section h2 {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.header-section .dim {
	color: #303030;
}

#subheader {
	background: rgba(0,0,0,0.25);
	overflow: hidden;
	z-index: 1;
}

#date-place {
	float: left;
	padding: 1em 0;
}

#date-place .date {
	float: left;
	display: inline-block;
	background: #fff;
	color: #303030;
	font-family: encode_sans_widesemibold, sans-serif;
	border-radius: 0.25em;
	overflow: hidden;
	text-shadow: none;
	box-shadow: 0px 1px 0px rgba(0,0,0,0.25), inset 0px 1px 0px rgba(0,0,0,0.25);
}

#date-place .date .month {
	display: block;
	background: #1597b0;
	color: #fff;
	text-transform: uppercase;
	font-size: 0.6em;
	padding: 0.25em 0.4em;
	text-align: center;
}

#date-place .date .day {
	display: block;
	padding: 0.1em 0.4em;
	text-align: center;
	font-size: 1.5em;
	line-height: 1em;
}

#date-place .place {
	font-size: 1.5em;
	display: inline-block;
	line-height: 1.8em;
	margin-left: 0.5em;
}

#tickets {
	float: right;
	font-size: 1.2em;
	padding: 0.9em 0;
}

#tickets .prices {
	font-size: 0.8em;
	line-height: 2.86em;
}

.about-section {
	padding: 2em 0;
	background: #fff;
	overflow: hidden;
}

.about-section h2 {
	margin-top: 0.3em;
}

.program-section {
	box-shadow: inset 0px 2px 0px rgba(0,0,0,0.1);
	overflow: hidden;
	padding-bottom: 2em;
	position: relative;
	background: #bb9a61 url('../img/dark-wood.png') repeat center top;
}

/*
.program-section-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 400%;
	background: #bb9a61 url('../img/wood.jpg') repeat center top;
	z-index: -1;
}
*/

.program-section .wrap {
	position: relative;
	z-index: 0;
	overflow: hidden;
}

.program-section h2 {
	text-align: center;
	color: #1597b0;
	margin-bottom: 0;
	line-height: 1em;
}

.program-section .program-disclaimer {
	color: #808080;
	margin-top: 0;
}

.program-section p {
	text-align: center;
}

.program-row, .talk-row {
	padding: 0.5em 2%;
	margin-bottom: 4px;
	background: #fff;
	box-shadow: 0px 2px 0px rgba(0,0,0,0.25);
	overflow: hidden;
}

.talk-row .time,
.program-row .time {
	display: block;
	float: left;
	width: 8%;
	font-family: encode_sans_widesemibold, sans-serif;
	color: #808080;
	vertical-align: top;
}

.program-row .topic {
	display: block;
	float: left;
	width: 90%;
	vertical-align: top;
}

.talk-row .speaker {
	display: block;
	width: 25%;
	float: left;
	font-family: encode_sans_widesemibold, sans-serif;
	color: #808080;
}

.talk-row .topic {
	display: block;
	font-size: 85%;
}

#register-speaker {
	margin-top: 2em;
	clear: both;
}

#register-speaker p {
	margin: 0;
	padding: 0;
	color: #fff;
}

#register-speaker a:hover {
	color: #fff;
}

#register-speaker .section-header {
	margin-top: 0;
	margin-bottom: 0.5em;
}

#register-speaker .topic {
	width: 100%;
}

.venue-section {
	background: #1597b0; /*url('../img/venue-bg.jpg') no-repeat 15% -5px;*/
	overflow: hidden;
	text-shadow: 0px 1px rgba(0,0,0,0.5);
	color: #fff;
}

.venue-section a {
	color: #d6f8ff;
}

.venue-section a:hover {
	text-decoration: underline;
}

.venue-section .map-container {
	margin: 2.5em 0;
	width: 100%;
	height: 15em;
	overflow: hidden;
}

.venue-section .map-container img {
	width: 100%;
}

.faq-section {
	padding: 2em 0;
	background: #fff;
	overflow: hidden;
}

.faq-section dl {
	line-height: 2em;
}

.faq-section dt {
	padding: 0;
	font-size: 1em;
	margin-bottom: 0.5em;
	font-family: encode_sans_widesemibold, sans-serif;
}

.faq-section dd {
	font-size: 1em;
	padding: 0;
	margin: 0 0 2.5em 0;
}

.sponsors-section {
	overflow: hidden;
	background: #f0f0f0;
	padding: 2em 0;
	text-align: center;
}

.sponsors-section a {
	/*float: left;*/
	display: inline-block;
	width: 16%;
	margin: 2%;
	position: relative;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	height: 80px;
	background: transparent center center no-repeat;
	background-size: contain;
	opacity: 1;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

.sponsors-section a:hover {
	opacity: 0.5;
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}

.sponsors-section a[href*="futurice"] { top: -3px; background-image: url('../img/sponsors/futurice.png'); }
.sponsors-section a[href*="leonidas"] { background-image: url('../img/sponsors/leonidas.png'); }
.sponsors-section a[href*="vincit"] { background-image: url('../img/sponsors/vincit.png'); }
.sponsors-section a[href*="alupark"] { top: 2px; background-image: url('../img/sponsors/alupark.png'); }
.sponsors-section a[href*="bearmetal"] { background-image: url('../img/sponsors/bearmetal.png'); }

.footer-section {
	background: #303030;
	color: #848484;
	text-align: center;
	padding: 4em 0 3em 0;
}

.footer-section a {
	color: #848484;
}

.footer-section a:hover {
	text-decoration: underline;
}

.footer-section .treweb-logo {
	width: 164px;
}

.modal {
	position: fixed;
	top: -100%;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
}

.modal.visible {
	top: 0;
}

.modal-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.75);
	-webkit-transition: opacity 500ms ease-in-out;
	-moz-transition: opacity 500ms ease-in-out;
	-ms-transition: opacity 500ms ease-in-out;
	transition: opacity 500ms ease-in-out;
	opacity: 0;
}

.modal.visible .modal-overlay {
	opacity: 1;
}

.modal-box {
	position: absolute;
	top: 5%;
	left: 15%;
	width: 70%;
	height: 90%;
	background: #fff;
	border-radius: 0.5em;
	opacity: 0;
	-webkit-transform: scale(0.7) translate3d(0,0,0);
	-moz-transform: scale(0.7) translate3d(0,0,0);
	-ms-transform: scale(0.7) translate3d(0,0,0);
	transform: scale(0.7) translate3d(0,0,0);
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

.modal-scroller {
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	height: 100%;
}

.modal-visible .modal-box {
	opacity: 1;
	-webkit-transform: scale(1) translate3d(0,0,0);
	-moz-transform: scale(1) translate3d(0,0,0);
	-ms-transform: scale(1) translate3d(0,0,0);
	transform: scale(1) translate3d(0,0,0);
}

.modal-content {
	padding: 2em;
}

.modal-close-icon {
	position: absolute;
	top: 1.5em;
	right: 1.5em;
	width: 60px;
	height: 60px;
	display: block;
	background: transparent url('../img/close-icon.png') no-repeat center center;
	background-size: contain;
	opacity: 0.5;
	-webkit-transition: opacity 200ms ease-in-out;
	-moz-transition: opacity 200ms ease-in-out;
	-ms-transition: opacity 200ms ease-in-out;
	transition: opacity 200ms ease-in-out;
}

.modal-close-icon:hover {
	opacity: 1;
}

.modal h2 {
	font-family: nexa_rust_sansblack, sans-serif;
	margin-top: 0.5em;
	margin-right: 100px;
}

.modal h3 {
	font-family: encode_sans_widesemibold, sans-serif;
}

@media (max-width: 850px) {
	#subheader {
		text-align: center;
		font-size: 0.8em;
	}

	#date-place {
		float: none;
	}

	#date-place .date {
		float: none;
		vertical-align: -60%;
	}

	#tickets {
		float: none;
		padding-top: 0;
	}

	.column-half {
		width: 100%;
		margin: 0;
	}

	.header-section {
		font-size: 0.8em;
	}

	#subheader {
		font-size: 1.4em;
	}

	.program-row, .talk-row {
		padding: 1em;
	}

	.program-row .time {
		width: auto;
		float: none;
	}

	.program-row .topic {
		display: block;
		padding-top: 0.5em;
		width: auto;
		float: none;
	}

	.talk-row .speaker, .talk-row .topic {
		float: none;
		width: auto;
	}

	.talk-row .topic {
		padding-top: 0.5em;
	}

	#register-speaker .program-row {
		padding-top: 0.4em;
	}

	.talk-row .time {
		width: 80px;
	}
	.talk-row .topic {
		font-size: 100%;
	}
}

@media (max-width: 600px) {
	#navi {
		text-align: center;
	}

	#navi a {
		margin: 0 0.5em;
	}

	#navi .navi-logo-link {
		display: none;
	}

	.header-section {
		font-size: 0.6em;
	}

	.sponsors-section a {
		width: 40%;
		margin: 5%;
	}

	.sponsors-section a[href*="futurice"] {
		top: 0;
	}

	.modal-box {
		top: 5%;
		left: 5%;
		width: 90%;
		height: 90%;
	}

	#tickets a {
		display: block;
		margin: 0.5em 1em 0 1em;
		font-size: 1.5em;
	}
}

@media (max-width: 400px) {
	.header-section {
		font-size: 0.5em;
	}

	#navi a {
		font-size: 0.7em;
	}

	#tickets .prices {
		display: block;
		margin-bottom: 1em;
	}

	#tickets button {
		margin-left: 0;
	}
}
